@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Vina+Sans&display=swap');

body {
    background-image: url("../images/backgroundimg.png");


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Righteous", sans-serif;
    color: #000;
    min-height: 80.5vh;
}

h1 {
    text-align: center;
    font-family: "Vina Sans", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #2f8cc2d3;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2f8cc2d3;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 23px;
}

button {
    width: 250px;
    height: 60px;
    border-radius: 23px;
    margin: 25px 20px 25px 20px;
    font-size: 15px;
    background-color: #fff;
    font-family: "Righteous",
        sans-serif;
}

.img-div {
    text-align: center;
}

.start-btn {
    font-size: 20px;
    margin-top: 150px;
}




button:focus {
    outline: none;
}

#choiceResponse {
    display: none;
}

#scoreBlock {
    padding-top: 100px;
    display: none;
}

#scoreMessage {
    display: none;
}



#quiz {
    overflow: hidden;
    display: none;
}

.quizRestart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Media queries------------------------------*/

@media(min-width:768px) {
    .container {
        max-height: 600px;
        min-height: 600px;
    }
}

@media (min-width: 1024px) {
    button:hover {
        background-color: orangered;
        border: none;
    }
}